* {
  margin: 0px;
  padding: 0px;
  user-select: none !important;
}

body {
  height: 100vh;
}

@font-face {
  font-family: "myfont-1";
  src: url(@/assets/font/1.woff);
}
@font-face {
  font-family: "myfont-2";
  src: url(@/assets/font/3500.woff);
}

@font-face {
  font-family: "灵悦黑体";
  src: url(@/assets/font/灵悦黑体.ttf);
}

